worker_processes  1;

events {
    worker_connections  1024;
}

http {
    include       mime.types;
    default_type  application/octet-stream;

    sendfile        on;
    keepalive_timeout  65;
  
    upstream flask-server {
      server localhost:5000;
    }    

    # define ldap server
    ldap_server ad_1 {
      # user search base.
      url "ldaps://${ldap server ip}/dc=${restriction},dc=${restriction}?uid?sub?(&(objectClass=posixAccount)(memberOf=*))";
      # bind as
      no binddn;
      # bind pw
      no binddn_passwd;
      # group attribute name which contains member object
      group_attribute member;
      # search for full DN in member object
      group_attribute_is_dn on;
      # matching algorithm (any / all)
      satisfy any;

      require valid_user;
    }
   server {
    listen 443 ssl;
    server_name ${server url};
    # SSL
    ssl_certificate /etc/nginx/conf.d/domain.crt;
    ssl_certificate_key /etc/nginx/conf.d/domain.key;

    location / {
      # adding ldap authentication
      auth_ldap "Closed content";
      auth_ldap_servers ad_1;

      proxy_pass http://localhost:5000/;
    }
  }
}

