nginx:
  image: nginx_ldap
  container_name: nginx
  net: "host"
  volumes:
    - ${auth_directory containing domain.crt and domain.key}:/etc/nginx/conf.d
    - ${registry conf file for ngnix}:/etc/nginx/nginx.conf
